<ion-view class="itemView" view-title="{{item.title}}" ng-style="{ 'background-color': item.color }">
  <ion-content class="center-content animated slideInUp">
    <i class="icon {{item.icon}}" style="font-size:22em;color:rgb(126, 51, 51);"></i>
    <h2>Fitted</h2>
		<p>Blahhhh</p>
  </ion-content>
</ion-view>


<body id="FITTED"> 

    
</body>








<header>
    <h1>blahhh</h1>
    <p>some stuff bout our app maybe</p>

    <nav>
        <ul>
            <li><a href="item.html">FITTED</li>
            <li><a href="FITTED.html">FITTED</li>
            <li><a href="AddClothes.html">AddClothes</li>
            <li><a href="GetOutfit.html">GetOutfit</li>
            <li><a href="MyCloset.html">MyCloset</li>
            <li><a href="Settings.html">Settings</li>
        </ul>
    </nav>
</header>





<!--
<ion-page
    <ion-view> class="itemView" view-title= FITTED ng-style="{ 'background-color': item.color }">
        <ion-content class="center-content animated slideInUp">
            <ion-list>
                <ion-item
                    <i class="icon {{item.icon}}" style="font-size:22em;color:rgb(82, 59, 59)"></i>
                    <h2>1</h2>
                    <p>Finding Items To Trend Everyday</p>
                    <img src="img/Fitted_Logo.png">
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-view>

    <ion-view> class="itemView" view-title= Add Clothes ng-style="{ 'background-color': item.color }">
        <ion-content class="center-content animated slideInUp">
            <ion-list>
                <ion-item
                    <i class="icon {{item.icon}}" style="font-size:22em;color:rgb(158, 44, 44)"></i>
                    <h2>2</h2>
                    <p>Finding Items To Trend Everyday</p>
                    <img src="img/Fitted_Logo.png">
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-view>
    <ion-view> class="itemView" view-title= Get Outfit ng-style="{ 'background-color': item.color }">
        <ion-content class="center-content animated slideInUp">
            <ion-list>
                <ion-item
                    <i class="icon {{item.icon}}" style="font-size:22em;color:rgb(158, 44, 44)"></i>
                    <h2>3</h2>
                    <p>Finding Items To Trend Everyday</p>
                    <img src="img/Fitted_Logo.png">
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-view>
    <ion-view> class="itemView" view-title= 'My Closet' ng-style="{ 'background-color': item.color }">
        <ion-content class="center-content animated slideInUp">
            <ion-list>
                <ion-item
                    <i class="icon {{item.icon}}" style="font-size:22em;color:rgb(158, 44, 44)"></i>
                    <h2>4</h2>
                    <p>Finding Items To Trend Everyday</p>
                    <img src="img/Fitted_Logo.png">
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-view>
</ion-page>

view-title="{{item.title}}"

<ion-view class="itemView" view-title="{{item.title}}" ng-style="{ 'background-color': item.color }">
  <ion-content class="center-content animated slideInUp">
    <i class="icon {{item.icon}}" style="font-size:22em;color:rgb(126, 51, 51);"></i>
    <h2>Fitted</h2>
	<p>Finding Items To Trend Everyday</p>
  </ion-content>
</ion-view>







<ion-page>
    <ion-item class= "Add Clothes"></ion-item>
    <link rel="add clothes" href="/item/Add%20Clothes">
    <ion-view class="itemView" view-title="{{item.title}}" ng-style="{ 'background-color': item.color }">
        
        <ion-content class="center-content animated slideInUp">
            <i class="icon {{item.icon}}" style="font-size:22em;color:rgb(126, 51, 51);"></i>
            <h2>2</h2>
                <p>aight so im tryna implement dif functions on each of these tabs, once i do that the apps done. idk bout an actual generator cause i cant find a plugin or api for that</p>
                <script src="lib/image-uploader.bundle.min.js"></script>
        </ion-content>
    </ion-view>
</ion-page>

-->


