<ion-view class="itemView" view-title="{{item.title}}" ng-style="{ 'background-color': item.color }">
    <ion-content class="center-content animated slideInUp">
        <!-- List of Text Items -->
        <ion-list>

            <div class="row-wrap row-no-padding"> 
            <ion-item class="col col-100 button button-icon light animated bounceInUp" ng-style="{ 'background-color' : item.color }" on-tap="openItem(item)">
                    <h1 style="text-align:left;">Tops</h1>
            </ion-item>
            <img src="img/fittedphotos/howard shirt.jpg" width="300" height="300">
            <img src="img/fittedphotos/tee.jpeg" width="300" height="300">
            <img src="img/fittedphotos/Pulp Fiction Shirt.jpeg" width="300" height="300">
            <img src="img/Fitted-Logo.png" width="300" height="300">
            </div>

            <div class="row-wrap row-no-padding"> 
            <ion-item class="col col-100 button button-icon light animated bounceInUp" ng-style="{ 'background-color' : item.color }" on-tap="openItem(item)">
                <h1 style="text-align:left;">Bottoms</h1>
            </ion-item>
            <img src="img/fittedphotos/jean skirt.jpg" width="300" height="300">
            <img src="img/fittedphotos/jeans.jpg" width="300" height="300">
            <img src="img/fittedphotos/Liquid Pants.jpeg" width="300" height="300">
            <img src="img/Fitted-Logo.png" width="300" height="300">
            </div>

            <div class="row-wrap row-no-padding"> 
            <ion-item class="col col-100 button button-icon light animated bounceInUp" ng-style="{ 'background-color' : item.color }" on-tap="openItem(item)">
                <h1 style="text-align:left;">Shoes</h1>
            </ion-item>
            <img src="img/fittedphotos/airmax 97.jpg" width="300" height="300">
            <img src="img/fittedphotos/gucci.jpg" width="300" height="300">
            <img src="img/fittedphotos/heel.jpg" width="300" height="300">
            <img src="img/Fitted-Logo.png" width="300" height="300">
            </div>

            <div class="row-wrap row-no-padding"> 
            <ion-item class="col col-100 button button-icon light animated bounceInUp" ng-style="{ 'background-color' : item.color }" on-tap="openItem(item)">
                <h1 style="text-align:left;">Jackets</h1>
            </ion-item>
            <img src="img/fittedphotos/brown jack.jpeg" width="300" height="300">
            <img src="img/fittedphotos/burg jack.jpg" width="300" height="300">
            <img src="img/fittedphotos/northface.jpg" width="300" height="300">
            <img src="img/Fitted-Logo.png" width="300" height="300">
            </div>

        </ion-list>
    </ion-content>
</ion-view>


<!-- List of Input Items 
<ion-list>
  <ion-item>
    <ion-label>Input</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Toggle</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Radio</ion-label>
    <ion-radio slot="end"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Checkbox</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
</ion-list>
-->
<!-- List of Sliding Items 
<ion-list>
  <ion-item-sliding>
    <ion-item>
      <ion-label>Item</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-label>Item</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
-->

<!--
        <ion-slide-box>
            <ion-slide>
                <img src="img/Fitted-Logo.png" />
            </ion-slide>
            <ion-slide>
                <img src="img/Fitted-Logo.png" />
            </ion-slide>
            <ion-slide>
                <img src="img/Fitted-Logo.png" />
            </ion-slide>
            <ion-slide>
                <img src="img/Fitted-Logo.png" />
            </ion-slide>
            <ion-slide>
                <img src="img/Fitted-Logo.png" />
            </ion-slide>
        </ion-slide-box>



<ion-view class="itemView" view-title="{{item.title}}" ng-style="{ 'background-color': item.color }">
  <ion-content class="center-content animated slideInUp">
    <i class="icon {{item.icon}}" style="font-size:22em;color:rgb(126, 51, 51);"></i>
    <h2>Fitted</h2>
    <p>pls</p>

    <html>
        <body>
        //li><a href="AddClothes.html">AddClothes</li
        <div w3-include-html="AddClothes.html">
            PLSSS
        </div>

        <div style="" id="Settings">
        Second Page Contents
        </div>
        </body>
    </html>
-->

















<!--
<ion-page>
    <ion-item class= "Add Clothes"></ion-item>
    <link rel="add clothes" href="/item/Add%20Clothes">
    <ion-view class="itemView" view-title="{{item.title}}" ng-style="{ 'background-color': item.color }">
        
        <ion-content class="center-content animated slideInUp">
            <i class="icon {{item.icon}}" style="font-size:22em;color:rgb(126, 51, 51);"></i>
            <h2>2</h2>
                <p>aight so im tryna implement dif functions on each of these tabs, once i do that the apps done. idk bout an actual generator cause i cant find a plugin or api for that</p>
                <script src="lib/image-uploader.bundle.min.js"></script>
        </ion-content>
    </ion-view>
</ion-page>
-->













<!--
<ion-page
    <ion-view> class="itemView" view-title= FITTED ng-style="{ 'background-color': item.color }">
        <ion-content class="center-content animated slideInUp">
            <ion-list>
                <ion-item
                    <i class="icon {{item.icon}}" style="font-size:22em;color:rgb(82, 59, 59)"></i>
                    <h2>1</h2>
                    <p>Finding Items To Trend Everyday</p>
                    <img src="img/Fitted_Logo.png">
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-view>

    <ion-view> class="itemView" view-title= Add Clothes ng-style="{ 'background-color': item.color }">
        <ion-content class="center-content animated slideInUp">
            <ion-list>
                <ion-item
                    <i class="icon {{item.icon}}" style="font-size:22em;color:rgb(158, 44, 44)"></i>
                    <h2>2</h2>
                    <p>Finding Items To Trend Everyday</p>
                    <img src="img/Fitted_Logo.png">
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-view>
    <ion-view> class="itemView" view-title= Get Outfit ng-style="{ 'background-color': item.color }">
        <ion-content class="center-content animated slideInUp">
            <ion-list>
                <ion-item
                    <i class="icon {{item.icon}}" style="font-size:22em;color:rgb(158, 44, 44)"></i>
                    <h2>3</h2>
                    <p>Finding Items To Trend Everyday</p>
                    <img src="img/Fitted_Logo.png">
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-view>
    <ion-view> class="itemView" view-title= 'My Closet' ng-style="{ 'background-color': item.color }">
        <ion-content class="center-content animated slideInUp">
            <ion-list>
                <ion-item
                    <i class="icon {{item.icon}}" style="font-size:22em;color:rgb(158, 44, 44)"></i>
                    <h2>4</h2>
                    <p>Finding Items To Trend Everyday</p>
                    <img src="img/Fitted_Logo.png">
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-view>
</ion-page>

view-title="{{item.title}}"

<ion-view class="itemView" view-title="{{item.title}}" ng-style="{ 'background-color': item.color }">
  <ion-content class="center-content animated slideInUp">
    <i class="icon {{item.icon}}" style="font-size:22em;color:rgb(126, 51, 51);"></i>
    <h2>Fitted</h2>
	<p>Finding Items To Trend Everyday</p>
  </ion-content>
</ion-view>

-->


