<ion-modal-view style="height: 20%" style="width: 80%" class="usersModal bigModal">
    <ion-header-bar>
        <h1 class="title">Welcome to Fitted!</h1>
        <button class="button button-dark icon ion-close-round" ng-click="closeModal();"></button>
    </ion-header-bar>
    <ion-content>
        <ion-item class= "col demo-col-center-content" style="height: 100%" class= "button button-icon light animated bounceInUp">
            <p can-swipe="true" class="animate-item"><br><br><br><br>Created by:<br>Ternia Wilson<br>Kyndall Jones<br>Sulaiman Bastien</p>
        </ion-item>
    </ion-content>
</ion-modal-view>