#container {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: block;
  -webkit-perspective: 300px;
          perspective: 300px; }

/*@-webkit-keyframes bender {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }
  5% {
    -webkit-transform: rotateX(-30deg);
            transform: rotateX(-30deg); }
  15% {
    -webkit-transform: rotateX(-30deg);
            transform: rotateX(-30deg); }
  20% {
    -webkit-transform: rotateX(-30deg) rotateY(-10deg);
            transform: rotateX(-30deg) rotateY(-10deg); }
  25% {
    -webkit-transform: rotateX(-30deg) rotateY(-10deg);
            transform: rotateX(-30deg) rotateY(-10deg); }
  30% {
    -webkit-transform: rotateX(-30deg) rotateY(-10deg);
            transform: rotateX(-30deg) rotateY(-10deg); }
  35% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); } }

@keyframes bender {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }
  5% {
    -webkit-transform: rotateX(-30deg);
            transform: rotateX(-30deg); }
  15% {
    -webkit-transform: rotateX(-30deg);
            transform: rotateX(-30deg); }
  20% {
    -webkit-transform: rotateX(-30deg) rotateY(-10deg);
            transform: rotateX(-30deg) rotateY(-10deg); }
  25% {
    -webkit-transform: rotateX(-30deg) rotateY(-10deg);
            transform: rotateX(-30deg) rotateY(-10deg); }
  30% {
    -webkit-transform: rotateX(-30deg) rotateY(-10deg);
            transform: rotateX(-30deg) rotateY(-10deg); }
  35% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); } }

@media (min-width: 680px) {
  .bigModal {
    top: 0px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important; }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
    margin-top: 20px; }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 64px; }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-header, .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
    top: 64px; } }

.center-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important; }
  .center-content .scroll {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

.center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.animate-item {
  -webkit-animation: fadeInLeft 1s;
          animation: fadeInLeft 1s; }*/


.galleryView .item {
  min-height: 216.6666666666667px; /*650, for main menu thingy*/
  padding-top: 55px; }
  .galleryView .item .icon:before 
  {
    font-size: 80px; } /*90*/
  .galleryView .item p 
  {
    color: white;
    font-family: 'arial black';
    font-size: 42px;
    padding-bottom: 50px;
    padding-top: 20px; }

.galleryView .item.ng-enter-stagger {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-duration: 0;
          animation-duration: 0; }

.galleryView .animated:nth-child(1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s; }

.galleryView .animated:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

.galleryView .animated:nth-child(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s; }

.galleryView .animated:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.galleryView .animated:nth-child(5) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s; }

.galleryView .animated:nth-child(6) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }

.galleryView .animated:nth-child(7) {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s; }

.galleryView .animated:nth-child(8) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.galleryView .animated:nth-child(9) {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s; }

.galleryView .animated:nth-child(10) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s; }

.galleryView .bold {
  font-weight: bold; }

.homeView h1, .homeView button {
  font-family: 'arial black'; }

.homeView h1 {
  font-size: 7em;
  color: white; }

.homeView button {
  font-size: 26px; }

.homeView .scroll-content {
  background: linear-gradient(145deg, #fff, rgb(180, 167, 89), rgb(194, 93, 64), rgb(66, 45, 80), #89ece4, #068a11);
  background-size: 800% 800%;
  -webkit-animation: background 26s ease infinite;
          animation: background 26s ease infinite; }
  .homeView .scroll-content .scroll {
    height: 100%; }
    .homeView .scroll-content .scroll .row-center {
      height: 100%; }

@-webkit-keyframes background {
  0% {
    background-position: 1% 0%; }
  50% {
    background-position: 99% 100%; }
  100% {
    background-position: 1% 0%; } }

@keyframes background {
  0% {
    background-position: 1% 0%; }
  50% {
    background-position: 99% 100%; }
  100% {
    background-position: 1% 0%; } }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
  display: none !important; }

.itemView .animated {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

/*slide out side menu thingy*/
.menu ion-header-bar {
  border: none;
  box-shadow: none;
  min-height: 150px;
  color: #fff;
  padding: 0; }
  .menu ion-header-bar .item {
    background-color: white;
    border: none;
    width: 100%;
    padding-left: 25px;
    padding-top: 40px; }
    .menu ion-header-bar .item img {
      max-width: 100px !important;
      top: 25% !important;
      left: 10px !important; }
    .menu ion-header-bar .item h2, .menu ion-header-bar .item p {
      font-family: 'arial black'; } /*tahoma*/
    .menu ion-header-bar .item h2 {
      font-size: 65px;
      font-weight: bold; }
    .menu ion-header-bar .item p {
      font-size: 12px;
      color: black; }

.menu ion-content {
  top: 200px !important;
  background: linear-gradient(10deg, #ffffff, #808080, rgb(63, 63, 63));
  background-size: 800% 800%;
  font-family: arial black;
  -webkit-animation: background 26s ease infinite;
          animation: background 26s ease infinite; }
  .menu ion-content .item {
    border: none;
    background-color: transparent; }
    .menu ion-content .item .item-content {
      background-color: transparent;
      color: black; }
  .menu ion-content .item.active {
    background-color: white !important; }
    .menu ion-content .item.active .item-content {
      color: black;
      font-weight: bold; }

.menu-open .menu ion-header-bar img {
  -webkit-animation-name: flash;
          animation-name: flash; }

.popoverView {
  background-color: #000000 !important; }
  .popoverView .scroll {
    height: 100%;}
    .popoverView .scroll .slider {
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      bottom: 0 !important;
      right: 0 !important;
      text-align: center; }
      .popoverView .scroll .slider .slider-slide {
        max-height: 100%;
        max-width: 100%; }

.usersModal .title, .usersModal .item {
  font-family: 'arial black'; }

.usersModal .title {
  font-size: 26px;
  font-weight: bold; }

.usersModal .item {
  font-size: 20px; }

.usersModal .animate-item.ng-enter {
  -webkit-animation: fadeInLeft 1s;
          animation: fadeInLeft 1s; }

.usersModal .animate-item.ng-enter-stagger {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-duration: 0;
          animation-duration: 0; }

